.navbar {
  background-color: white;
  margin-bottom: 1rem;
  .navbar-menu {
    display: flex;
    justify-content: center;
    .navbar-section {
      margin: 0 0.5rem;
      .route {
        text-decoration: none;
        color: inherit;
        &:visited {
          text-decoration: inherit;
          color: inherit;
          cursor: auto;
        }
      }
    }
    .active-section {
      border-bottom: 1px solid #000;
    }
  }
}
