@import '../../sass/mixin.scss';

.post {
  background-color: white;
  padding: 2rem;
  text-align: left;
  margin: 1rem 0;
  .post-top {
    display: flex;
    justify-content: space-between;

    @include responsive(tab-port) {
      flex-wrap: wrap-reverse;
    }
    .post-infos {
      display: flex;

      flex-direction: column;
      .post-title {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .post-date {
        font-size: 0.8rem;
        color: #a8a8a8;
      }
      .post-tags {
        font-size: 0.8rem;
        margin: 1rem 0;
      }
      .fa-tags {
        margin-right: 1rem;
      }
    }
    .post-container {
      align-items: flex-start;
      text-align: left;
    }
  }
  .post-bottom {
    display: flex;
    @include responsive(tab-port) {
      flex-wrap: wrap;
    }

    .post-body {
      margin: 1rem;
      @include responsive(tab-port) {
        margin: 0;
        margin-top: 1rem;
      }
    }
  }
}
